#CONFIG
PORT=3000
MOCK_PORT=4000
PLATFORM_C_URL=http://localhost:4000/api/external/send

#REDIS
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379

#RABBITMQ
RABBITMQ_USER=admin
RABBITMQ_PASS=admin123
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672
RABBITMQ_URL="amqp://admin:admin123@localhost:5672"